.app-container {
  font-family: "consolas";
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  color: #ff7f7f;
  font-size: 48px;
  font-family: "consolas";
  font-weight: bold;
}

.body {
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-around;
}

.editor-container {
  width: 48%;
  height: 95%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ff7f7f;
  border-radius: 4px;
}

.ql-toolbar {
  border: unset !important;
  border-bottom: 2px solid #ff7f7f !important;
}

.ql-container {
  border: unset !important;
  height: unset;
  flex-grow: 1;
  overflow-y: auto;
}

.dist {
  width: 48%;
  height: 95%;
}

.dist-header {
  height: 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.copy-button {
  background: unset;
  border: 2px solid #ff7f7f;
  color: #ff7f7f;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.copy-button:hover {
  border-color: #ff7f7f;
  color: white;
  background: #ff7f7f;
}

.dist-body {
  height: calc(94% - 2px);
}

.delta-viewer-container {
  height: 100%;
  border: 2px solid #ff7f7f;
  border-radius: 4px;
  overflow-y: auto;
}

.delta-viewer {
  width: calc(100% - 0.5rem * 2);
  margin: unset;
  margin: 0.5rem;
}

pre {
  font-family: "consolas";
  font-size: inherit;
}